#
# Managed by Ansible – override via `mariadb_additional_config` or extend this template.
#
[client]
port = 3306
socket = {{ mariadb_socket }}
default-character-set = utf8mb4

[mysqld]
bind-address = {{ mariadb_bind_address }}
socket = {{ mariadb_socket }}
long_query_time = 1
max_allowed_packet = 64M
innodb_buffer_pool_size = 4G
innodb_flush_log_at_trx_commit = 2
innodb_autoextend_increment = 512
thread_cache_size = 32
table_open_cache = 1024
tmp_table_size = 256M
max_heap_table_size = 256M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
log_error = /var/log/mariadb/mariadb-error.log
slow_query_log = 1
slow_query_log_file = /var/log/mariadb/mariadb-slow.log
skip_name_resolve = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
{{ mariadb_additional_config }}

[mysqldump]
quick
max_allowed_packet = 64M
